---
layout: layouts/base.njk
pagination:
  data: collections.categoryList
  size: 1
  alias: category
  filter:
    - all
    - nav
    - extension
    - extensions
    - categoryList
  addAllPagesToCollections: true
eleventyComputed:
  title: “{{ category.categoryName }}”扩展
permalink: /categorieslist/{{ category.categoryName }}/
---

{% block content %}

<div class="container">
  <h1>“{{ category.categoryName }}” 分类</h1>

  {% set extensions = category.posts %}
  {% include 'components/extensionslist.njk' %}

  <p>查看<a href="{{ '/categorieslist/' | url }}">所有的分类</a>。</p>
</div>

{% endblock %}
