---
title: 扩展
layout: layouts/base.njk
permalink: /categorieslist/
---

<div class="container">
  <h1>扩展分类</h1>
  <div class="card-grid">
    {% for category in collections.categoryList %}
      <div class="card">
        <h2 class="card__title">
          <a href="{{ '/categorieslist/' | url }}{{ category.categoryName }}">{{ category.categoryName }}</a>
          <span class="card__count">({{ category.categoryCount }} 个扩展)</span>
        </h2>
        <ul>
          {% for post in category.posts %}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
