---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagListD
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

{% block content %}

<div class="container">
  <h1>带有 “{{ tag }}” 标签</h1>

  {% set posts = collections[tag] %}
  {% include 'components/postslist.njk' %}

  <p>查看<a href="{{ '/tags/' | url }}">所有的标签</a>.</p>
</div>

{% endblock %}