---
layout: layouts/base.njk
---

<div class="container">
  <h1>{{ title }}</h1>
  {{ content | safe }}

  <br><hr>
  {% if not hideTagsList %}
    <b>标签: </b>
    {% for tag in tags %}
      {% if tag != 'post' %}
        <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
        {%- if not loop.last %}, {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  <br><br>
  <a href="{{ '/' | url }}">&larr; 回到主页</a>
</div>
